@mixin basicbtn {
  margin: auto 1em;
  padding: 0.5em 2.5em;
  font-weight: 600;
  text-align: center;
}
.formstyle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.buttonStyle {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5%;
  margin-top: 20px;
}

.submitButton {
  @include basicbtn();
  color: #fff;
  background: #1890ff;
  border-radius: 1px;
  border-color: #1890ff;
}

.clearButton {
  @include basicbtn();
  color: black;
}

.inputStyle {
  width: 250px;
  margin: 5px;
  height: 25px;
}
